
# Archivos Binarios para producir las Imágenes o Imágenes Bases no usadas
visual_elements/*
!visual_elements/fondo.png
!visual_elements/icon.svg
!visual_elements/fondo_index.gif
!visual_elements/fondo_reglas.png
